@font-face {
    font-family: "Swiss";
    src: url("/resources/sass/fonts/swiss/swiss.ttf");
    src: url("/resources/sass/fonts/swiss/swiss.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Swiss";
    src: url("/resources/sass/fonts/swiss/swissl.ttf");
    src: url("/resources/sass/fonts/swiss/swissl.ttf") format("truetype");
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: "Swiss";
    src: url("/resources/sass/fonts/swiss/swissb.ttf");
    src: url("/resources/sass/fonts/swiss/swissb.ttf") format("truetype");
    font-weight: bold;
    font-style: normal;
}
